aiofiles==24.1.0
alembic==1.16.5
asyncpg==0.30.0
fastapi==0.117.1
mailinglogger==6.0.0
opencv-python-headless==4.12.0.88
pip-chill==1.0.3
pipreqs==0.5.0
python-multipart==0.0.20
tinycss2==1.4.0
uvicorn==0.37.0
numpy~=2.2.6
SQLAlchemy~=2.0.44
pydantic~=2.12.3
defusedxml~=0.7.1
